<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h1 style="text-align: center;"> Опрос 1</h1>
      <p class="lead" style="font-family: 'Times New Roman';"> Опросник – это сайт, который принадлежит маркетинговой компании. Такие компании при помощи
        интернета проводят социологические платные опросы
        интернета проводят социологические платные опросы
        населения.
        населения.
        Многие из вас наверно помнят, как раньше на улицах городов (ну по крайней мере больших) присутствовали
        люди,
        которые приглашали случайных прохожих принять участие в каком-либо маркетинговом исследовании.
        После того, как человек проходил тест или заполнил опрос, ему в виде презента за потраченное время
        полагался подарок.
        Теперь, в век информационных технологий, вся эта история благополучно перебралась в интернет. Никто не
        страдает от морозов зимой и жары летом,
        гуляя по улице с анкетами..</p>
    </div>
    <div class="col-md-12"><p></p></div>
    <div class="col-md-12"><p></p></div>
    <div class="col-md-12"><p></p></div>
    <div class="col-md-12"><p></p></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-2"><button class="btn myBtn">Я ознакомился с условием опроса</button></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-12"><p></p></div>
    <div class="col-md-12"><p></p></div>
    <div class="col-md-12"><p></p></div>
    <div class="col-md-12"><p></p></div>
    <app-tabulation></app-tabulation>
  </div>
</div>
