<div class="container">
  <div class="container">
    <app-info></app-info>

  </div>
  <br>
  <app-bread-scrum></app-bread-scrum>
  <app-pagination></app-pagination>
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      <app-page-for-topics></app-page-for-topics>
    </div>

    <div id="page2" class="container tab-pane"><br>
      <app-page-for-topics></app-page-for-topics>
    </div>
    <div id="page3" class="container tab-pane"><br>
      <app-page-for-topics></app-page-for-topics>
    </div>
  </div>
</div>
<app-tabulation></app-tabulation>
