<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Название опроса</th>
    <th>Количество вопросов</th>
    <th>Время на прохождение</th>
    <th>Время до конца доступности</th>
    <th>Автор</th>
    <th>Доступен без регистрации</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><a routerLink="/survey">Опрос 1</a></td>
    <td>15 </td>
    <td>20 мин</td>
    <td>10 дн</td>
    <td>Limb0</td>
    <td>No</td>
  </tr>
  <tr>
    <td><a routerLink="/survey">Опрос 1</a></td>
    <td>15 </td>
    <td>20 мин</td>
    <td>10 дн</td>
    <td>Limb0</td>
    <td>No</td>
  </tr><tr>
    <td><a routerLink="/survey">Опрос 1</a></td>
    <td>15 </td>
    <td>20 мин</td>
    <td>10 дн</td>
    <td>Limb0</td>
    <td>No</td>
  </tr><tr>
    <td><a routerLink="/survey">Опрос 1</a></td>
    <td>15 </td>
    <td>20 мин</td>
    <td>10 дн</td>
    <td>Limb0</td>
    <td>No</td>
  </tr><tr>
    <td><a routerLink="/survey">Опрос 1</a></td>
    <td>15 </td>
    <td>20 мин</td>
    <td>10 дн</td>
    <td>Limb0</td>
    <td>No</td>
  </tr><tr>
    <td><a routerLink="/survey">Опрос 1</a></td>
    <td>15 </td>
    <td>20 мин</td>
    <td>10 дн</td>
    <td>Limb0</td>
    <td>No</td>
  </tr><tr>
    <td><a routerLink="/survey">Опрос 1</a></td>
    <td>15 </td>
    <td>20 мин</td>
    <td>10 дн</td>
    <td>Limb0</td>
    <td>No</td>
  </tr>
  </tbody>
</table>
