<div *ngIf="isShown" class="newSurvey">
  <div class="myOwnModal">
    <div class="modal-header">
      <h4 class="modal-title">New survey form</h4>
      <button type="button" class="close" aria-label="Close" (click)="changeVisibility()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body scrollableModal">
      <div class="modal-body">
        <div class="row">
          <br>
          <br>
          <form class="col-md-12" [formGroup]="surveyInfoGroup">
            <div formArrayName="questions">
              <div *ngFor="let templateQuestion of surveyInfoGroup.controls.questions.controls;
              let currentQuestionIndex = index">
                <div [formGroup]="templateQuestion">
                  <div class="row">
                    <div class="col-md-8"><label>Choose topic to attach question to</label></div>
                    <div class="col-md-10">
                      <select class="custom-select">
                        <option>-none-</option>
                        <option *ngFor="let activeTopicForUserQuestion of topics; " >
                          {{activeTopicForUserQuestion.name}}
                        </option>
                      </select>
                    </div>
                    <div class="col-md-12"><br></div>
                    <label>Question
                      <input formControlName="question">
                    </label>
                  </div>
                  <div
                    *ngFor="let answer of templateQuestion.controls.answers.controls; let currentAnswerIndex = index">
                    <div [formGroup]="answer">
                      <button (click)="addAnswer(currentQuestionIndex)">Add answer</button>
                      <label>Answer {{currentAnswerIndex + 1}}
                        <input formControlName="answer">
                      </label>
                      <button (click)="deleteThisAnswer(currentQuestionIndex, currentAnswerIndex)">x</button>
                    </div>
                  </div>
                </div>
                <button (click)="deleteThisQuestion(currentQuestionIndex)">Delete this question</button>
                <br>
                <hr>
              </div>
            </div>
            <div *ngIf="questionsFromTheTopic">
              <ng-container *ngFor="let activeQuestions of
              questionFromTheTopicGroup.get('questions').controls; let questId = index">
                <form class="col-md-12" [formGroup]="activeQuestions">
                  <br>
                  <input type="text"  formControlName="question">
                  <br>
                  <ng-container *ngFor="let answerActive of activeQuestions.controls.answers.controls;
                   let runner = index">
                    <div [formGroup]="answerActive">
                      <br>
                      <label>Answer {{runner + 1}}</label>
                      <br>
                      <input type="text" formControlName="answer">
                      <br>
                    </div>
                  </ng-container>
                  <br>
                  <button class="btn myBtn" (click)="deleteQuestionById(questId)">Delete this question</button>
                  <br>
                  <hr>
                </form>
              </ng-container>
            </div>
          </form>
          <div class="col-md-12">
            <div id="questionTemplate"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button " class="btn btn-danger">Submit</button>
      <button type="button" id="buttonQuest" (click)="addQuestion()" class="btn btn-danger">New
        question
      </button>
      <button type="button" (click)="getFullInfoFromTheGroup()">Save as a draft</button>
      <button type="button " class="btn btn-danger" (click)="showQuestionTopics()">Add question(/s) from
        the topic
      </button>
    </div>
  </div>
</div>
<div *ngIf="questionTopicsShow" class="newQuestionFromSurvey">
  <div class="modalForTopics">
    <div class="modal-header">
      <h4 class="modal-title">Choose a topic</h4>
      <select class="custom-select" (change)="onSetActiveTopic(currentTopic.value)" #currentTopic>
        <option>Pick a topic</option>
        <option *ngFor="let singleTopic of topics; " [value]="singleTopic.topicId">
          {{singleTopic.name}}
        </option>
      </select>
      <button type="button" class="close" aria-label="Close" (click)="showQuestionTopics()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body scrollableTopicsModal">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
          </div>
          <div class="col-md-12">
            <app-question-from-the-topic [currentTopic]="activeTopic"></app-question-from-the-topic>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger">New
        question
      </button>
    </div>
  </div>
</div>

<div class="container-fluid ">
  <div class="row content" style="height: 150%">
    <div class="col-sm-3 sidenav" style="height: 100%">
      <h4>Name Surname</h4>
      <hr>
      <app-successful-surveys></app-successful-surveys>
      <hr>
      <h4>Create my own survey:</h4>
      <form role="form">
        <br>
        <button type="button" class="btn btn-primary" (click)="changeVisibility();" data-toggle="modal">
          Create a survey
        </button>
<!--        <button type="button" class="btn btn-primary" (click)="changeVisibility(); getTopics()" data-toggle="modal">-->
<!--          Create a survey-->
<!--        </button>-->
        <app-admin-block></app-admin-block>
      </form>
    </div>
    <div class="col-sm-9 backgroundImageForUsers"
         style="border-left:ridge; background-color:rgba(255,94,130,0.36) ">
      <h4><small>Последние пройденные опросы</small></h4>
      <hr>
      <app-complited-survey></app-complited-survey>
      <app-complited-survey></app-complited-survey>
      <br><br>
    </div>
  </div>
</div>

