<h1>Welcome</h1>
Добро пожаловать на сайт Survyes. Это сайт для прохождения опросов онлайн.
Если у вас есть какие-нибудь интересные идеи для создания собственного опроса, вы можете предложить его нам,
но для этого вам необходимо <a routerLink="registration">зарегистрироваться</a> и войти в личный кабинет.
Если вы уже зарегистрированный пользователь, просто зайдите в личный кабинет и нажмите создать опрос.
<hr>
<h3>Кто может проходить опросы?</h3>
<p>Любой посититель сайта может проходить опросы, просто перейдя по вкладке <a routerLink="topics">
  Topics </a>
  на навигационной панели, но проходя опросы без входа в систему, результаты прохождения не будут
  записаны.</p>
