
<div class="jumbotron">
  <h1>Зачему нужен опросник?</h1>
  <p class="lead">Опросник – это сайт, который принадлежит маркетинговой компании. Такие компании при помощи
    интернета проводят социологические платные опросы
    населения.
    Многие из вас наверно помнят, как раньше на улицах городов (ну по крайней мере больших) присутствовали
    люди,
    которые приглашали случайных прохожих принять участие в каком-либо маркетинговом исследовании.
    После того, как человек проходил тест или заполнил опрос, ему в виде презента за потраченное время
    полагался подарок.
    Теперь, в век информационных технологий, вся эта история благополучно перебралась в интернет. Никто не
    страдает от морозов зимой и жары летом,
    гуляя по улице с анкетами..</p>
  <p><a href="#home" class="btn myBtn">Посмотреть темы</a></p>
</div>
