<div class="col-md-12  table4surveys" style=" position: relative; ">
  <h2 class="header">Машины</h2>
  <p>ll f f ff f f f weoiufrpiaewut8pqewu tpo8aerut po8eht po8aerwhtaerwiut [aerh t[
    oaerwihj aerwioh wer8[ohtaer[ohg [erhg pershg peroh poerh poierh  ll f f ff f f f weoiufrpiaewut8pqewu tpo8aerut po8eht po8aerwhtaerwiut [aerh t[
    oaerwihj aerwioh wer8[ohtaer[ohg [erhg pershg peroh poerh poierh  ll f f ff f f f weoiufrpiaewut8pqewu tpo8aerut po8eht po8aerwhtaerwiut [aerh t[
    oaerwihj aerwioh wer8[ohtaer[ohg [erhg pershg peroh poerh  </p>
  <br><br>
<!--  todo change directory-->
  <p style="position: absolute; right: 5%;bottom: 0;"><a routerLink="template" class="btn btn-success">Подробнее</a>
  </p>
</div>
