<ngb-tabset #t="ngbTabset">
  <ngb-tab id="tab-selectbyid1" title="1">
    <ng-template ngbTabContent>
      <div class="row topicsPrieview">
        <div class="col-md-4">
          <app-one-topic></app-one-topic>
        </div>
        <div class="col-md-4">
          <app-one-topic></app-one-topic>
        </div>
        <div class="col-md-4">
          <app-one-topic></app-one-topic>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="tab-selectbyid2">
    <ng-template ngbTabTitle>2</ng-template>
    <ng-template ngbTabContent>
      <div class="row topicsPrieview">
        <div class="col-md-4">
          <app-one-topic></app-one-topic>
        </div>
        <div class="col-md-4">
          <app-one-topic></app-one-topic>
        </div>
        <div class="col-md-4">
          2
          <app-one-topic></app-one-topic>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
<!--todo read about anchors-->
